{% extends 'base.html' %}

{% from 'common.html' import detail_stackalytics_user %}

{% block title %}Stackquery - Export users{% endblock title%}

{% block java_script %}
<script type="text/javascript">
    function insertUser(user_data, delete_row, add_user_url) {
        $.ajax({
            url: add_user_url,
            type: "POST",
            data: JSON.stringify(user_data),
            dataType: "json",
            contentType: "application/json; charset=UTF-8",
            success: function(response) {
                if (response.status == "OK") {
                    delete_row.remove();
                    $("#user-success").fadeTo(1000, 500).slideUp(500, function() {
                        $("#user-success").alert("close");
                    });
                }
            },
            error: function(response) {
                $("#user-failure").fadeTo(1000, 500).slideUp(500, function() {
                    $("#user-failure").alert("close");
                });
            }
        })
    }

    $(function() {
        $(".add-user-link").on("click", function() {
            var add_user_url = $(this).attr('add-user-url');
            var delete_row = $(this).parent().parent();
            user_name = delete_row.find('td:nth-child(2)').text();
            user_ids = delete_row.find('td:nth-child(3)').text();
            var user_data = {'name': user_name, 'user_id': user_ids};
            insertUser(user_data, delete_row, add_user_url);
        })
    });

    $(function() {
        $("#select-all").on("click", function() {
            if(this.checked) {
                $('.checkbox1').each(function() {
                    this.checked = true;
                })
            } else {
                $('.checkbox1').each(function() {
                    this.checked = false;
                })
            }
        })
    });

    $(document).ready(function() {
        $("#add-selected-users, #add-selected-users1").click(function() {
            $("#user-list tbody tr").each(function() {
                //checkbox = $(this).find('td:nth-child(1)').find('.checkbox1');
                checkbox = $(this).find('td:nth-child(1)').find('input:checkbox')[0];
                if(checkbox.checked) {
                    var user_name = $(this).find('td:nth-child(2)').text();
                    var user_ids = $(this).find('td:nth-child(3)').text();
                    var add_user_url = $(this).find('a.add-user-link').attr('add-user-url');
                    var user_data = {'name': user_name, 'user_id': user_ids};
                    insertUser(user_data, $(this), add_user_url);
                    setTimeout(function() {

                    }, 10000);
                }
            })
        })
    });
</script>
{% endblock java_script %}

{% block main %}
<div class="alert alert-success fade in" id="user-success" style="display:none;">
    <button type="button" class="close" onclick="$(this).parent().hide();">×</button>
    User inserted successfully
</div>
<div class="alert alert-error fade in" id="user-failure" style="display:none;">
    <button type="button" class="close" onclick="$(this).parent().hide();">×</button>
    An error occurred
</div>
<div class="row">
<form method="POST">
    <div class="row">
            <div class="span3">
                <label for="company">Company:</label>
                <input name="company" id="company" class="form-control">
            </div>
            <div class="span3">
                <br/>
                <button type="submit" class="btn btn-primary">Go</button>
            </div>   
    </div>
</form>
</div>
{% if users %}
<div class="row">
    <input type="submit" id="add-selected-users" name="add-selected-users" class="btn btn-primary" value="Add selected users"/>
    <br/>
</div>
<br/>
<div class="row">
<table name="user-list" id="user-list" class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" id="select-all" name="select-all"> Select all</th>
            <th>Name</th>
            <th>User id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for user in users %}
    {{ detail_stackalytics_user(user) }}
{% endfor %}
</tbody>
</table>
</div>
<div class="row">
    <input type="submit" id="add-selected-users1" name="add-selected-users1" class="btn btn-primary" value="Add selected users"/>
    <br/>
</div>
{% endif %}
{% if error %}
<div class="row" align="center">
    <h3>Company not found</h3>
</div>
{% endif %}

{% endblock main %}