{% extends 'base.html' %}

{% from 'common.html' import detail_project %}

{% block title %}Stackquery - List OpenStack Projects{% endblock title%}

{% block java_script %}
<script type="text/javascript">
    $(function() {
        $(".user-delete-link").on("click", function() {
            var delete_url = $(this).attr('data-delete-url');
            var delete_row = $(this).parent().parent();
            $.ajax({
                url: delete_url,
                type: "DELETE",
                success: function(response) {
                    if (response.status == "OK") {
                        delete_row.remove();
                        $("#user-success").show();
                    }
                },
                error: function(response) {
                    $("#user-failure").show();
                }
            })
        })
    });

    $(document).ready(function() {
        $('#projects').dataTable();
    });

    $('#projects').removeClass('display').addClass('table table-striped table-bordered');
</script>
{% endblock java_script %}

{% block main %}

<table class="table table-striped table-hover" id="projects">
    <thead>
        <tr>
            <td>Name</td>
            <td>Git url</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        {{ detail_project(project) }}
    {% endfor %}
    </tbody>
</table>

<div class="alert alert-success fade in" id="user-success" style="display:none;">
    <button type="button" class="close" onclick="$(this).parent().hide();">×</button>
    Project deleted successfully
</div>
<div class="alert alert-error fade in" id="user-failure" style="display:none;">
    <button type="button" class="close" onclick="$(this).parent().hide();">×</button>
    An error occurred
</div>
{% endblock main %}