{% extends 'base.html' %}

{% from 'gerrit/common.html' import table_report %}

{% block title %}Stackquery - Gerrit report{% endblock title%}

{% block java_script %}
<script type="text/javascript">
    function loadComboBox(select, url, data, json_key, json_value) {
      $.ajax({
         type: "GET",
         url: url,
         data: data,
         dataType: "json",
         success: function(json){
            var options = "";
            $.each(json, function(key, value){
                $(select).append($("<option>", {
                    value: value[json_key].toString().toLowerCase(),
                    text: value[json_value]
                }));
            });
         }
      });
   }

$(document).ready(function(){
    $("#team").load(loadComboBox("#team", "{{ url_for('rest_api.get_teams') }}", {}, 'id', 'name'));
});
</script>
{% endblock java_script %}

{% block main %}

<form method="POST" class="form-inline">
        <div class="form-group">
            <label for="filter">Filter:</label>
            <input name="filter" id="filter" class="form-control">
        </div>
        <div class="form-group">
            <label for="team">Team:</label>
            <select class="form-control" name="team" id="team">
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Go</button>
        </div>   
</form>

{% if error %}
<div class="row" align="center">
    <h3>{{ error }}</h3>
</div>
{% endif %}

{% if releases %}
    {{ table_report(releases) }}
{% endif %}
{% if seconds and not error %}
<div>
{{ seconds }} seconds
</div>
{% endif %}
{% endblock main %}