<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Stackquery</title>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/jquery-1.11.3.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/angular.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/angular-route.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/angular-cookies.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/angular-ui.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/dirPagination.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/bootstrap.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/ui-grid.min.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/lib/jquery.dataTables.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/app.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/users.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/stackalytics.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/projects.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/reports.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/releases.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/teams.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/filters.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/harvester.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/message.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/modules/login.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', filename='css/lib/bootstrap.min.css') }} />
        <link rel="stylesheet" href={{ url_for('static', filename='css/lib/bootstrap-theme.min.css') }} />
        <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" />
    <style>
    body { padding-top: 70px; }
    .oddRow {
        background-color: #DDDDDD;
    }
    .div-bigger {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    </style>
</head>
<body ng-app="stackquery">
<div id="wrapper">
    <div ng-view></div>
</div>
</body>
</html>