{% extends 'base.html' %}
{% from 'common.html' import render_field %}
{% if request.endpoint.endswith('edit_user') %}
    {% set title = 'Stackquery - Edit user' %}
    {% set button_name = 'Update user' %}
{% else %}
    {% set title = 'Stackquery - Create user' %}
    {% set button_name = 'Create user' %}
{% endif %}
{% block title %}{{ title }}{% endblock title%}
{% block java_script %}
{% endblock java_script %}
{% block main %}
<form method="POST" class="form">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            {{ render_field(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            {{ render_field(form.user_id) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            {{ render_field(form.email) }}
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="{{ button_name }}">
</form>
{% endblock main %}