{% extends 'base.html' %}
{% from 'common.html' import render_field %}
{% if request.endpoint.endswith('edit_team') %}
    {% set title = 'Stackquery - Edit team' %}
    {% set button_name = 'Update team' %}
{% else %}
    {% set title = 'Stackquery - Create team' %}
    {% set button_name = 'Create team' %}
{% endif %}
{% block title %}{{ title }}{% endblock title%}
{% block java_script %}
<style type="text/css">
    .top5 { margin-top:15px; }
</style>
<script type="text/javascript">
function load_users(select, url) {
$.ajax({
type: "GET",
url: url,
data: {},
dataType: "json",
success: function(json) {
$.each(json, function(key, value) {
$(select).append($("<option>", {
    value: value['id'],
    text: value['name']
    }));
    });
    {% if request.endpoint.endswith('edit_team') %}
        $.ajax({
        type: "GET",
        url: "{{ url_for('rest_api.get_users_from_team', team_id=team_id) }}",
        data: {},
        dataType: "json",
        success: function(json) {
        $.each(json, function(key, value) {
        console.log(value);
        !$("#available-users option[value='" + value['id'] + "']").appendTo("#selected-users");
        })
        }
        });
    {% endif %}
    }
    });
    }
    function load_projects(select, url) {
    $.ajax({
    type: "GET",
    url: url,
    data: {},
    dataType: "json",
    success: function(json) {
    $.each(json, function(key, value) {
    $(select).append($("<option>", {
        value: value['id'],
        text: value['name']
        }));
        });
        {% if request.endpoint.endswith('edit_team') %}
            $.ajax({
            type: "GET",
            url: "{{ url_for('rest_api.get_projects_from_team', team_id=team_id) }}",
            data: {},
            dataType: "json",
            success: function(json) {
            $.each(json, function(key, value) {
            console.log(value);
            !$("#available-projects option[value='" + value['id'] + "']").appendTo("#selected-projects");
            })
            }
            });
        {% endif %}
        }
        });
        }
        $(document).ready(function(){
        // Users
        $("#available-users").load(load_users("#available-users", "{{ url_for('rest_api.get_users') }}" ));
        $("#add-user").click(function() {
                return !$("#available-users option:selected").appendTo("#selected-users");
            });
            $("#remove-user").click(function() {
                return !$("#selected-users option:selected").appendTo("#available-users");
            });
            $("#add-all-users").click(function() {
                return !$("#available-users option").prop("selected", true).appendTo("#selected-users");
            });
            $("#remove-all-users").click(function() {
                return !$("#selected-users option").prop("selected", true).appendTo("#available-users");
            });
        // Projects
        $("#available-projects").load(load_projects("#available-projects", "{{ url_for('rest_api.get_projects') }}" ));
        $("#add-project").click(function() {
        return !$("#available-projects option:selected").appendTo("#selected-projects");
        });
        $("#remove-project").click(function() {
        return !$("#selected-projects option:selected").appendTo("#available-projects");
        });
        $("#add-all-projects").click(function() {
        return !$("#available-projects option").prop("selected", true).appendTo("#selected-projects");
        });
        $("#remove-all-projects").click(function() {
        return !$("#selected-projects option").prop("selected", true).appendTo("#available-projects");
        });
        });
        </script>
    {% endblock java_script %}
    {% block main %}
        <form method="POST" class="form">
            <section>
                <div class="row top5">
                    <div class="col-xs-6 col-md-4">
                        {{ render_field(form.name)}}
                    </div>
                </div>
                <div class="row top5">
                    <div class="col-xs-6 col-md-4">
                        <label for="release">Users available:</label>
                    </div>
                    <div class="col-xs-6 col-md-4">
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label for="release">Users selected:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <select id="available-users" size="15" name="available-users" multiple class="form-control">
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class=="top5">
                            <button class="btn btn-primary btn-block" id="add-user">Add</button>
                        </div>
                        <div class="top5">
                            <button class="btn btn-primary btn-block" id="add-all-users">Add all</button>
                        </div>
                        <div class="top5">
                            <button class="btn btn-primary btn-block" id="remove-user">Remove</button>
                        </div>
                        <div class="top5">
                            <button class="btn btn-primary btn-block" id="remove-all-users">Remove all</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4"> 
                        <select id="selected-users" size="15" name="selected-users" multiple class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row top5">
                        <div class="col-xs-6 col-md-4">
                            <label for="release">Projects available:</label>
                        </div>
                        <div class="col-xs-6 col-md-4">
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <label for="release">Projects selected:</label>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <select id="available-projects" size="15" name="available-projects" multiple class="form-control">
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="top5">
                            <button class="btn btn-primary btn-block" id="add-project">Add</button>
                        </div>
                        <div class="top5">
                            <button class="btn btn-primary btn-block" id="add-all-projects">Add all</button>
                        </div>
                        <div class="top5">
                            <button class="btn btn-primary btn-block" id="remove-project">Remove</button>
                        </div>
                        <div class="top5">
                            <button class="btn btn-primary btn-block" id="remove-all-projects">Remove all</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <select id="selected-projects" size="15" name="selected-projects" multiple class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row top5">
                    <div class="col-xs-6 col-md-4">
                        <button type="submit" class="btn btn-primary">{{ button_name }}</button>
                    </div>
                </div>
            </section>
        </form>
    {% endblock main %}