{% extends 'base.html' %}
{% from 'common.html' import render_field %}
{% block title %}Stackquery - Create Project{% endblock title%}
{% block java_script %}
{% endblock java_script %}
{% block main %}
<form method="POST" class="form" action="{{ url_for('dashboard.dashboard_create_project') }}">
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                {{ render_field(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                {{ render_field(form.git_url) }}
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Create project">
    </section>
</form>
{% endblock main %}