{% extends 'base.html' %}

{% from 'common.html' import detail_team %}

{% block title %}Stackquery - List teams{% endblock title%}

{% block java_script %}

{% endblock java_script %}

{% block main %}

<div>
    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#create" data-toggle="tab">Create team</a></li>
        <li><a href="#list_teams" data-toggle="tab">List teams</a></li>
    </ul>
    <div class="row" style="margin-top: 20px;"></div>
    <div class="tab-content clearfix">
    <div class="tab-pane active" id="create">

    </div>
    <div class="tab-pane" id="list_teams">

    </div>


{% endblock main %}